@import "./utils/mixins";
@import "./utils/typography";
@import "./page.scss";
@import "./webinar.scss";
@import "./header.scss";
@import "./form.scss";
@import "./speaker.scss";
@import "./registation.scss";
@import "./logo.scss";
@import './iti.scss';
@import './footer.scss';

* {
  padding: 0;
  margin: 0;
}
