$back-page-color: #1b1b2f;
$back-decoration-color: #332f65;
$form-back-color: #303a53;
$decoration-text-color: #ffffff0d;
$surname-color: #4252d1;
$input-text-color: #d7d7d7;
$title-and-submit-button-color: #ff3459;
$title-and-submit-button-color-hover: #ff3333;
$input-back-color: #272d3d;
$header-item-color: #302e5a;
$css-item-dot: #2965f1;
$html-item-dot: #f16529;
$sublime-item-dot: #ff9800;
$js-item-dot: #f0be25;
$vs-item-dot: #48aef3;
$description-color: #b5b5b5;
$white-color: #fff;

